@model Menu.Models.Dish

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <div class="row">
        <!-- Dish Image and Details -->
        <div class="col-lg-6">
            <img src="@Model.ImageUrl" class="img-fluid rounded shadow-sm" alt="@Model.Name Image" style="object-fit: cover; height: 400px; width: 100%;" />
        </div>
        <div class="col-lg-6 d-flex flex-column justify-content-center">
            <h2 class="mb-3">@Model.Name</h2>
            <h4 class="text-success mb-4">@Model.Price.ToString("N2") NGN</h4>
            <div>
                <h5 class="mb-3">Ingredients:</h5>
                <ul class="list-group">
                    @foreach (var item in Model.DishIngredients)
                    {
                        <li class="list-group-item">@item.Ingredient.Name</li>
                    }
                </ul>
            </div>
            <div class="mt-4">
                <a class="btn btn-primary" asp-action="Index">Back to Menu</a>
            </div>
        </div>
    </div>
</div>
